body{
	background: #f5f5f5;
}
div{
	position: relative;
	margin: 10px 10px;
	background: white;
	padding: 5px 10px;
}
.author{
	bottom: 0;
	text-align: right;
	font-style: italic;
}
p{
	margin: 5px 0px;
}